extends layout
block mainbody
  #mainbody
    section.mainbodyitems
      h3 Mission 
      section.announcements
        .announceitem
          p To expand the African continent’s food production capability and to help achieve food security and poverty alleviation by forming alliances with key stakeholders (both governmental and non – governmental) and exchange knowledge and logistics and to do so in a sustainable manner. 
      h3 Vission
      section.forsaleitems
       p To become a leading producer and distributor of food commodities in Ghana and beyond
         
      h3 GOALS, OBJECTIVES
      section
        .eventitem
          h4 GVEnterprise seeks to:
          p.date October 20, 2pm&ndash;6pm
          p Celebrate the season with fresh-pressed cider from our orchards.
        .eventitem
          h4.title Bread baking workshop
          p.date December 13, 9am&ndash;noon
          p Learn how to create and cultivate a sourdough starter.
      h3 ACTIONS TAKEN, PROGRESS MADE
      section
        .motditem
          p Eat better food. Support your local farm stand.
        h3#partners.wide Our friends
        section#partners.wide
          .partnerlink.wide
            a(href="")
              .clickable-area Green Valley Greens
          .partnerlink.wide
            a(href="")
              .clickable-area Turkey Hill Farm
          .partnerlink.wide
            a(href="/")
              .clickable-area Burt's Maple Syrup
          .partnerlink.wide
            a(href="")
              .clickable-area Only Organic Seeds
        .bodyspace
